traces/*.rar filter=lfs diff=lfs merge=lfs -text
traces/1W_high_load_*.json filter=lfs diff=lfs merge=lfs -text
traces/saturated_tcp_benchmark_results.csv -text whitespace=cr-at-eol
traces/baseline_warmup_results.csv -text whitespace=cr-at-eol
